.button{
    -fx-background-color: red;
    -fx-background-radius: 15;
    -fx-opacity: 0.6;
    -fx-text-fill: white;
}
.button:hover{
    -fx-opacity: 1;
}

.button:pressed{
    -fx-background-color: darkred;
}

.text-field{
    -fx-background-color:transparent;
    -fx-border-color: lightgray;
    -fx-border-width: 0px 0px 1px 0px;
}

.text-field:focused{
    -fx-border-color: black;
}

.label{
    -fx-text-fill: red;
    -fx-opacity: 0.6;

}

.label:hover {
    -fx-opacity: 1;
}