.button{
    -fx-background-color: red;
    -fx-background-radius: 15;
    -fx-opacity: 0.6;
    -fx-text-fill: white;
    -fx-font-size: 17px;
}
.button:hover{
    -fx-opacity: 1;
    -fx-cursor: hand;
}

.button:pressed{
    -fx-background-color: darkred;
}
.button:disabled{
    -fx-background-color: gray;

}
.label{
    -fx-text-fill: red;
    -fx-opacity: 0.6;
}
.label:hover {
    -fx-opacity: 1;
}


.text-field{
    -fx-background-color:transparent;
    -fx-border-color: lightgray;
    -fx-border-width: 0px 0px 1px 0px;
}

.text-field:focused{
    -fx-border-color: black;
}

.text-field:disabled{
    -fx-text-fill: red;
    -fx-border-color: red;
    -fx-opacity: 0.6;
}
.menu-bar .menu{
    -fx-background-radius: 15;
}
.menu-bar .menu:hover{
    -fx-cursor: hand;
    -fx-background-color: lightgray;
}

.menu-bar .menu-item{
    -fx-background-radius: 15;
    -fx-cursor: hand;
}

.menu-bar .menu:showing{
    -fx-background-color: lightgray;
    -fx-text-fill: white;
}

.scroll-pane {
    -fx-background-color: white;
}

.scroll-pane .viewport{
    -fx-background-color: white;
}

.h-box .pane:hover{
    -fx-border-color: black;
    -fx-border-width: 1px;
}

#prazno{
    -fx-font-size: 20px;
}

#itemtile_text{
    -fx-text-fill: white;
    -fx-opacity: 1;
}

#okvir{
    -fx-border-width: 0px;
    -fx-border-color: transparent;
}

#okvir_active{
    -fx-border-width: 2px;
    -fx-border-color: black;
}

.menu-bar .menu-item:focused{
    -fx-background-color: lightgray;
    -fx-text-fill: white;

}
.context-menu {
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 15;
    -fx-cursor: hand;
    -fx-effect: null;

}
.menu-bar .label {
    -fx-text-fill: black;
    -fx-opacity: 0.6;
    -fx-font-size: 16px;
}
#tile_text{
    -fx-text-fill: black;
    -fx-opacity: 1;
}

#moderator_item .label{
    -fx-text-fill: black;
    -fx-font-size: 3px;
}

#upper_button{
    -fx-background-color:  transparent;
    -fx-text-fill: black;
}

#upper_button:hover{
    -fx-background-color: lightgray;
}

#upper_button:pressed{
    -fx-background-color: darkgray;
}

#tile {
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-width: 2px;
}

#tile:hover {
    -fx-border-width: 3px;
}

#tile_button{
    -fx-background-color: black;
}

#tile_button:hover{
    -fx-opacity: 0.9;
}
#tile_button:pressed{
    -fx-opacity: 1;
}

#tile_icon:hover{
    -fx-opacity: 0.7;
}

#title{
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
}

#sidepanel{
    -fx-background-radius: 20;
    -fx-background-color: #e6e6e6;
}

#sidepanel:hover{
    -fx-background-color: #bebebe;
}

#clickable_pane:hover{
    -fx-border-color: #6e6e6e;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

#clickable_pane:disabled .label{
    -fx-text-fill: #534143;
}

.button .label{
    -fx-text-fill: white;
    -fx-opacity: 1;
}

#photopane{
    -fx-border-width: 1px;
    -fx-border-color: lightgray;
}

#photopane:disabled{
    -fx-border-color: transparent;
}


#photopane:hover{
    -fx-border-color: black;
}